<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Kategori Ekle</h5></div>
            <div class="card-body">
                <form [formGroup] ="categoryUpdateForm">
                    <div class="form-group">
                        <input type="number"
                        id="categoryId" formControlName="categoryId" class="form-control" placeholder="Kategori Id">
                    </div>
                  <div class="form-group">
                      <input type="text"
                      id="categoryName" formControlName="categoryName" class="form-control" placeholder="Kategori adı">
                  </div>
                  
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="update()">Güncelle</button>
            </div>
        </div>
 </div>
</div>
