<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SHOPPING</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/products">Anasayfa</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Kategori Yönetimi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/categories/getall">Kategori Listele</a></li>
              <li><a class="dropdown-item"  routerLink="/categories/add">Kategori Ekle</a></li>
              <li><a class="dropdown-item"  routerLink="/categories/delete">Kategori Sil</a></li>
              <li><a class="dropdown-item" routerLink="/categories/update">Kategori Güncelle</a></li>
              
            </ul>
          </li>        
          

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ürün Yönetimi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  routerLink="/products/add">Ürün Ekle</a></li>
              <li><a class="dropdown-item" routerLink="/products/delete">Ürün Sil</a></li>
              <li><a class="dropdown-item" routerLink="/products/update">Ürün Güncelle</a></li>

            </ul>
          </li>
         
         </ul>
        
      </div>
    </div>
  </nav>
