<div class="mb-12">
<div class="card" style="width: 58rem; height: 33rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <div class="mb-3">
      <label for="productName">Ürün Adı</label>
     <h5 class="card-text" >{{productdetails?.productName}}</h5>
    </div>
    <div class="mb-3">
     <label for="price">Ürün Fiyatı</label>
      <p class="card-text" >{{productdetails?.price}}</p>
    </div>
    <div class="mb-3">
      <label for="unitsInStock">Ürün Stok Adedi</label>
      <p class="card-text">{{productdetails?.unitsInStock}}</p>
    </div>
    <div class="mb-3">
      <label for="categoryName">Ürün Kategorisi</label>
      <p class="card-text" >{{productdetails?.categoryName}}</p>
    </div>
    
    </div>
  </div>
</div>

